@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed Light"), local("RobotoCondensed-Light"),
    url("../fonts/Robotocondensedlight.woff2") format("woff2"),
    url("../fonts/Robotocondensedlight.woff") format("woff"),
    url("../fonts/Robotocondensedlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed Light Italic"),
    local("RobotoCondensed-LightItalic"),
    url("../fonts/Robotocondensedlightitalic.woff2") format("woff2"),
    url("../fonts/Robotocondensedlightitalic.woff") format("woff"),
    url("../fonts/Robotocondensedlightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed"), local("RobotoCondensed-Regular"),
    url("../fonts/Robotocondensed.woff2") format("woff2"),
    url("../fonts/Robotocondensed.woff") format("woff"),
    url("../fonts/Robotocondensed.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed Italic"), local("RobotoCondensed-Italic"),
    url("../fonts/Robotocondenseditalic.woff2") format("woff2"),
    url("../fonts/Robotocondenseditalic.woff") format("woff"),
    url("../fonts/Robotocondenseditalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed Bold"), local("RobotoCondensed-Bold"),
    url("../fonts/Robotocondensedbold.woff2") format("woff2"),
    url("../fonts/Robotocondensedbold.woff") format("woff"),
    url("../fonts/Robotocondensedbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed Bold Italic"), local("RobotoCondensed-BoldItalic"),
    url("../fonts/Robotocondensedbolditalic.woff2") format("woff2"),
    url("../fonts/Robotocondensedbolditalic.woff") format("woff"),
    url("../fonts/Robotocondensedbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Racon-BasicBold";
  src: local("Racon-BasicBold"), local("Racon-BasicBold"),
    url("../fonts/Racon-BasicBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src: local("ROBOTOCONDENSED-REGULAR"), local("ROBOTOCONDENSED-REGULAR"),
    url("../fonts/ROBOTOCONDENSED-REGULAR.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "RobotoCondensed";
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: normal;
}

.main {
  &.webp {
    background-image: url("../img/main-bg.webp");
  }
  position: relative;
  background-image: url("../img/main-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 168px;
  padding-top: 32px;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 16px;
    background: #a1b9c8;
  }
  &-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      svg {
        max-width: 170px;
        width: 100%;
        height: 42px;
      }
    }
    &__contacts {
      display: flex;
      max-width: 354px;
      width: 100%;
      align-items: center;
      justify-content: center;
      .elem {
        padding-right: 20px;
      }
      .nav-phone {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        &:hover {
          color: rgb(0, 0, 0);
        }
      }
      &-btn {
        font-size: 16px;
        color: rgb(108, 127, 142);
        line-height: 1.5;
        background-color: transparent;
        max-width: 206px;
        width: 100%;
        height: 46px;
        border: 1px solid rgb(108, 127, 142);
        outline: none;
        &:hover {
          outline: none;
          background-color: #28abc7;
          color: #fff;
          border-color: #28abc7;
        }
        &:focus {
          outline: none;
          background-color: #28abc7;
          color: #fff;
          border-color: #28abc7;
        }
      }
    }
    &__items {
      .each {
        font-size: 18px;
        line-height: 1.333;
        font-weight: 400;
        outline: none;
        font-weight: 500;
      }
      max-width: 450px;
      width: 100%;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}

.btn-form {
  max-width: 216px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  .main-menu__contacts-btn {
    position: relative;
  }
  .line {
    position: absolute;
    content: "";
    right: 0px;
    svg {
      width: 35px;
      height: 23px;
      fill: #28abc7;
      color: #28abc7;
    }
  }
  &:hover {
    svg {
      fill: rgb(253, 210, 38);
      transition-duration: 0.2s;
    }
  }
  &.yellow {
    max-width: 280px;
    margin-left: 0px;
    .line svg {
      width: 58px;
      fill: #000;
      margin-right: -15px
    }
    .btn {
      max-width: 252px;
      width: 100%;
      height: 44px;
      text-transform: uppercase;
      background-color: rgb(253, 210, 38);
      border: none;
      outline: none;
      font-size: 16px;
      color: rgb(0, 0, 0);
      line-height: 1.5;
      font-weight: 500;
      &:hover {
        border: none;
        outline: none;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  &:hover {
    color: rgb(40, 171, 199);
    line-height: 1.2;
    outline: none;
    transition-duration: 0.2s;
    text-decoration: none;
  }
}

:hover {
  transition-duration: 0.2s;
}

:focus {
  outline: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  &.fade {
    display: none;
  }
  &.show {
    background-color: rgba(100, 118, 132, 0.4);
    z-index: 23;
  }
  .btn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .close {
      background: transparent;
      border: none;
      padding-top: 12px;
      padding-right: 10px;
      &:focus {
        outline: none;
      }
    }
  }
  &-dialog {
    height: 100%;
    display: flex;
  }
  .modal-content {
    height: 350px;
    max-width: 350px;
    width: 100%;
    margin: auto;
    border-radius: 0;
    border: none;
    background-color: #fff;
    .modal-body {
      padding-left: 35px;
      padding-right: 35px;
      position: relative;
      p.order {
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #202024;
        padding-bottom: 40px;
        padding-top: 10px;
        &.ukrainian {
          font-size: 35px;
        }
      }
      p.phone__number {
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        padding-bottom: 15px;
      }
      input {
        height: 44px;
        border: solid 1px #a6b4ba;
        width: 100%;
        border-radius: 0px;
        padding: 10px;
      }
      .booking {
        height: 44px;
        background-color: #28abc7;
        width: 100%;
        border: 1px solid #28abc7;
        margin-top: 15px;
        color: #fff;
				&[disabled]{
					border: 1px solid #fdd226;
					background-color: #fdd226;
				}
      }
    }
  }
}

.main-block {
  margin-top: 140px;
  &__title {
    font-size: 55px;
    font-weight: 500;
    line-height: 1.2;
    span {
      color: rgb(40, 171, 199);
      font-weight: bold;
    }
  }
  &__list {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
    ul {
      padding-left: 22px;
      margin-bottom: 0px;
    }
  }
  &__desc {
    margin-top: 15px;
    margin-bottom: 58px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.25;
    max-width: 562px;
    width: 100%;
    font-weight: 300;
  }
  .h3{
    margin: 15px 0;
    font-family: "RobotoCondensed";
    font-weight: bold;
    font-size: 24px;
    color: #000;
  }
}

.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 55px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(0, 0, 0);
  z-index: 2;
  position: relative;
  span {
    color: rgb(40, 171, 199);
    font-weight: bold;
  }
}

.important-technical-inspections {
  padding-top: 90px;
  padding-bottom: 100px;
  @media (max-width: 767px){
    padding-top: 60px;
    padding-bottom: 60px;
  }
  font-weight: 300;
  .desc{
    margin-bottom: 30px;
    font-size: 20px;
  }
  .list{
    margin: 0;
    padding: 0;
    li{
      position: relative;
      margin-bottom: 30px;
      padding-left: 40px;
      list-style: none;
      &:last-child{
        margin-bottom: 0;
      }
      &:before{
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 5px;
        width: 26px;
        height: 26px;
        background: url("../img/question.jpg");
      }
    }
  }
  .energy-block{
    span{
      font-weight: 700;
    }
    @media (max-width: 767px){
      padding-bottom: 50px;
    }
  }
  .energy-pict{
    &__svg{
      z-index: -1;
    }
  }
}
.what-is {
  padding-top: 90px;
  padding-bottom: 100px;
}

.carrying-out-activities {
  padding-top: 90px;
  padding-bottom: 100px;
  @media (max-width: 767px){
    padding-bottom: 50px;
  }
  .energy-pict:first-child{
    @media (max-width: 767px){
      padding-bottom: 60px;
    }
  }
  .title{
    max-width: 830px;
  }
  .energy-block .title {
    margin-bottom: 15px;
    text-align: left;
    font-size: 30px;
  }
  .slick-slider {
    img {
      display: block;
      max-width: 400px;
      margin: 0 auto;
      border-width: 0;
    }
    .slick-next {
      height: 50px;
      width: 50px;
    }
    .slick-prev {
      height: 50px;
      width: 50px;
    }
  }
}
.interface-row {
  display: flex;
  align-items: center;
  a {
    color: #28abc7;
    text-decoration: underline;
    font-weight: 500;
  }
}

.interface-img {
  margin-right: 18px;
}

.energy-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__text {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    span {
      font-weight: bold;
    }
    &.bottom {
      margin-bottom: 20px;
    }
    &.top {
      margin-top: 22px;
    }
  }
  &__grey {
    background-color: rgb(242, 243, 244);
    padding: 25px 24px 36px 32px;
    .energy-block__text {
      font-size: 16px;
    }
    &-block {
      display: flex;
      font-size: 16px;
      color: rgb(0, 0, 0);
      line-height: 1.2;
      font-weight: 300;
      align-items: center;
      svg {
        fill: rgb(253, 210, 38);
        width: 54px;
        height: 54px;
      }
    }
    &-icon {
      padding-right: 24px;
    }
  }
}

.energy-pict {
  width: 100%;
  position: relative;
  &:first-child{
    margin-bottom: 30px;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    position: relative;
  }
  &__svg {
    position: absolute;
    content: "";
    top: -166px;
    left: -180px;
    z-index: -1;
    svg {
      height: 450px;
      width: 326px;
      fill: rgb(242, 243, 244);
    }
  }
  &:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 786px;
    right: 275px;
    background-color: rgba(108, 127, 142, 0.1);
    top: -220px;
    z-index: -1;
  }
  &:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 786px;
    right: 0px;
    background-color: rgba(108, 127, 142, 0.1);
    top: -220px;
    z-index: -1;
  }
}

p {
  margin-bottom: 0px;
}

.need {
  background-color: rgb(242, 243, 244);
  padding-bottom: 95px;
  overflow: hidden;
  .container {
    position: relative;
    z-index: 1;
    &:before {
      position: absolute;
      content: "";
      width: 1px;
      top: -8px;
      left: 40%;
      height: calc(100% + 105px);
      background-color: #fff;
      z-index: 1;
    }
    &:after {
      position: absolute;
      content: "";
      width: 1px;
      top: -8px;
      right: 0%;
      height: calc(100% + 105px);
      background-color: #fff;
      z-index: 1;
    }
  }
  .row {
    position: relative;
    z-index: 2;
  }
  &-right {
    display: flex;
    justify-content: flex-end;
    font-size: 112px;
    color: rgba(255, 255, 255, 0.302);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    position: relative;
    margin-bottom: -30px;
    font-size: 160px;
  }
  &-left {
    display: flex;
    justify-content: flex-start;
    font-size: 112px;
    color: rgba(255, 255, 255, 0.302);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    position: relative;
    margin-bottom: -30px;
  }
  &-img {
    position: relative;
    img {
      width: 100%;
    }
  }
  &-title {
    font-size: 36px;
    line-height: 1.2;
    display: flex;
    margin-bottom: 28px;
    color: #000;
    font-weight: 500;
    font-size: 36px;
    padding-top: 98px;
    span {
      color: rgb(40, 171, 199);
      font-weight: bold;
      display: contents;
    }
  }
  &-list {
    ul {
      margin-bottom: 0px;
      padding-left: 40px;
      li {
        list-style-type: none;
        margin-bottom: 25px;
        font-size: 20px;
        color: rgb(0, 0, 0);
        line-height: 1.2;
        font-weight: 300;
        position: relative;
        &:before {
          content: "";
          background-image: url(../img/circle.svg);
          width: 24px;
          height: 24px;
          position: absolute;
          left: -40px;
          top: 0;
        }
      }
    }
  }
}

.laws {
  background: #f2f3f4;
  padding: 98px 0px;
  &-title {
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 66px;
    span {
      color: rgb(40, 171, 199);
      font-weight: bold;
    }
  }
}

.teh-block {
  .gerb-block__title {
    padding-top: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 14px;
  }
  .gerb-block__pict {
    height: 124px;
  }
  .gerb-block__item {
    min-height: 40px;
    span {
      color: rgb(0, 0, 0);
      text-transform: none;
    }
  }
  &.gerb-block {
    //padding-bottom: 26px;
    padding: 50px 50px 60px;
    background: #fff;
    border: 0;
    @media (max-width: 767px){
      padding: 50px 20px;
    }
  }
  &.bottom-block{
    text-align: center;
    margin-top: 50px;
  }
}

.teh-types {
  padding-top: 82px;
  padding-bottom: 76px;
  &__block {
    border-width: 1px;
    border-color: rgb(216, 226, 234);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100%;
    padding: 40px 24px;
    align-items: center;
    &-pict {
      margin-right: 26px;
    }
    &-title {
      min-height: 50px;
      font-size: 20px;
      color: rgb(100, 118, 132);
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 10px;
    }
    &-desc {
      color: rgb(100, 118, 132);
      font-weight: 500;
      line-height: 1.2;
      font-size: 16px;
    }
  }
  .col-lg-6 {
    margin-bottom: 26px;
  }
}

.gerb-block__desc {
  font-size: 20px;
  color: rgb(40, 171, 199);
  line-height: 1.2;
  text-align: center;
  a{
    text-decoration: underline;
    color: rgb(40, 171, 199);
    font-size: 16px;
    &:hover{
      text-decoration: none;
    }
  }
}

.classes {
  padding-top: 60px;
  padding-bottom: 94px;
  &.teh-classes {
    padding-top: 20px;
    margin-top: -80px;
    .classes-additional {
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 20px;
      color: rgb(0, 0, 0);
      line-height: 1.2;
      margin-bottom: 38px;
      margin-top: 46px;
      font-style: normal;
      font-weight: 300;
      span {
        color: #28abc7;
        font-weight: 700;
      }
      b{
        font-weight: 700;
      }
    }
    .btn-form.yellow {
      margin-right: auto;
      margin-left: auto;
      max-width: 400px;
      .btn {
        max-width: 400px;
      }
    }
  }
  &-table {
    text-align: center;
  }
  &-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
  }
  .elem {
    background-color: rgb(242, 243, 244);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    height: 100%;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    &.last {
      border-bottom: 0px;
    }
    &-3 {
      .elem {
        border-right: 0px;
      }
    }
  }
  &-desc {
    font-weight: 500;
  }
  &-additional {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    font-style: italic;
  }
}

.row-table {
  width: 100%;
  display: flex;
  .elem-1 {
    max-width: 167px;
    width: 100%;
  }
  .elem-2 {
    max-width: 480px;
    width: 100%;
  }
  &.first {
    min-height: 129px;
  }
}

.gerb-block {
  border: 10px solid rgb(242, 243, 244);
  height: 100%;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  &__pict {
    text-align: center;
  }
  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    padding-top: 28px;
    text-align: center;
  }
  &__item {
    margin-top: 24px;
    font-size: 16px;
    line-height: 1.2;
    span {
      text-transform: uppercase;
      font-weight: 700;
      color: rgb(40, 171, 199);
    }
  }
}

.percent {
  &.webp {
    background-image: url("../img/cloud-bg.webp");
  }
  background-image: url(../img/cloud-bg.jpg);
  background-position: unset;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 112px;
  &-price {
    display: flex;
    align-items: flex-end;
  }
  &-text {
    font-size: 54px;
    font-family: "RobotoCondensed";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: -2.025px 8.769px 18px rgba(116, 140, 172, 0.66);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .second {
    margin-top: 90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.benefits {
  padding-top: 30px;
  padding-bottom: 70px;
  &-item {
    border-width: 1px;
    border-color: rgb(216, 226, 234);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 24px 32px;
    display: flex;
    height: 100%;
    align-items: center;
    .row {
      width: 100%;
    }
    &__icon {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      svg {
        max-width: 84px;
        height: 60px;
        fill: rgb(253, 210, 38);
      }
    }
    &__text {
      color: rgb(100, 118, 132);
      font-size: 15px;
      line-height: 1.2;
      .bold {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 8px;
      }
    }
  }
  .col-lg-4 {
    &.benefits-main {
      margin-bottom: 28px;
    }
  }
  .container {
    position: relative;
    .line {
      position: absolute;
      width: 1px;
      height: 590px;
      background-color: rgba(108, 127, 142, 0.1);
      top: -45px;
      left: 20%;
      z-index: -1;
      content: "";
      &-second {
        left: 50%;
      }
      &-third {
        left: 80%;
      }
    }
  }
}

.description {
  font-size: 24px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  text-align: center;
  font-weight: 300;
  margin-bottom: 80px;
}

.structure {
  background-color: #f2f3f447;
  padding-top: 82px;
  padding-bottom: 90px;
  .title {
    margin-bottom: 10px;
  }
  &-block__title {
    font-size: 30px;
    color: rgb(40, 171, 199);
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    width: 100%;
    width: 380px;
    max-height: 518px;
    height: 100%;
  }
}

.collection {
  display: flex;
  flex-direction: column;
  height: 100%;
  &-title {
    font-size: 30px;
    line-height: 1.6;
    span {
      font-weight: bold;
      color: rgb(40, 171, 199);
    }
  }
  &-text {
    font-size: 16px;
    line-height: 1.2;
    margin-top: 20px;
    p {
      margin-bottom: 20px;
    }
  }
  &-line {
    margin-top: 22px;
    margin-bottom: 16px;
    width: 100%;
    height: 1px;
    background-color: rgba(108, 127, 142, 0.1);
  }
}
.slick-prev:before {
  content: "";
  background-image: url(../img/back.png);
  fill: rgba(108, 127, 142, 0.1);
  width: 13px;
  height: 26px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 22;
  &:hover {
    opacity: 0.4;
  }
}

.slick-next:before {
  content: "";
  background-image: url(../img/next.png);
  fill: rgba(108, 127, 142, 0.1);
  width: 13px;
  height: 26px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 22;
  &:hover {
    opacity: 0.4;
  }
}

.slick-active {
  img {
    margin-left: auto;
    margin-right: auto;
  }
}

.slick-slider {
  img {
    border-width: 10px;
    border-color: rgb(242, 243, 244);
    border-style: solid;
  }
}

.slick-prev,
.slick-next {
  height: 56px;
  width: 56px;
  background-color: rgb(242, 243, 244);
  border-radius: 50%;
  z-index: 22;
  &:hover {
    background-color: #e2ecfd;
    .slick-next:before {
      opacity: 0.4;
    }
    .slick-prev:before {
      opacity: 0.4;
    }
  }
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0px;
}

.structure-download {
  display: flex;
  justify-content: center;
  margin-top: 26px;
  &-icon {
    svg {
      width: 38px;
      height: 38px;
      fill: rgb(253, 210, 38);
    }
    margin-right: 14px;
  }
  &-title {
    font-size: 16px;
    color: rgb(108, 127, 142);
    line-height: 1;
    max-width: 164px;
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.price {
  padding-top: 90px;
  @media (max-width: 767px){
    padding-top: 60px;
  }
  &.webp {
    background-image: url("../img/price-bg.webp");
  }
  background-image: url(../img/price-bg.png);
  background-position: unset;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 60px;
  .col-lg-4, .col-lg-8 {
    margin-bottom: 36px;
  }
  .pre-footer {
    background: none;
    padding-top: 92px;
    padding-bottom: 0px;
    @media (max-width: 767px){
      padding-top: 60px;
    }
    .last-text {
      margin-top: 0px;
    }
  }
  .container {
    position: relative;
    z-index: 2;
    .white-line {
      position: absolute;
      content: "";
      width: 1px;
      background-color: #fff;
      height: 400px;
      left: 15%;
      bottom: -165px;
      z-index: 1;
      &.second {
        left: 85%;
      }
    }
  }
  .col-lg-4, .col-lg-8 {
    &:nth-child(2) {
      .price-block__desc:before {
        background-image: url(../img/2.png);
      }
    }
    &:nth-child(3) {
      .price-block__desc:before {
        background-image: url(../img/3.png);
      }
    }
    &:nth-child(4) {
      .price-block__desc:before {
        background-image: url(../img/4.png);
      }
    }
    &:nth-child(5) {
      .price-block__desc:before {
        background-image: url(../img/5.png);
      }
    }
    &:nth-child(6) {
      .price-block__desc:before {
        background-image: url(../img/6.png);
      }
    }
  }
  &-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 18px 0px rgba(51, 96, 158, 0.35);
    position: relative;
    z-index: 2;
    &__pre-title {
      font-size: 24px;
      color: rgb(0, 0, 0);
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;
    }
    &__img {
      position: relative;
      z-index: 2;
      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
      }
    }
    &__desc {
      padding: 38px 24px 34px;
      position: relative;
      z-index: 2;
      &:before {
        position: absolute;
        z-index: 1;
        content: "";
        background-image: url(../img/1.png);
        right: 24px;
        top: 32px;
        height: 156px;
        background-repeat: no-repeat;
        max-width: 104px;
        width: 100%;
        background-position: right;
      }
    }
    &__line {
      height: 7px;
      width: 100%;
      background-color: rgb(40, 171, 199);
      position: relative;
      &::before {
        z-index: 1;
        width: 30px;
        height: 30px;
        content: "";
        position: absolute;
        background-color: rgb(40, 171, 199);
        transform: rotate(45deg);
        top: -10px;
        left: 30px;
      }
    }
    &__title {
      font-size: 24px;
      color: rgb(40, 171, 199);
      line-height: 1.2;
      position: relative;
      z-index: 2;
      margin-bottom: 18px;
    }
    &__text {
      position: relative;
      z-index: 2;
      p {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 1.2;
        margin-bottom: 22px;
        span {
          font-weight: bold;
        }
      }
      span {
        font-weight: bold;
      }
    }
  }
  .row {
    position: relative;
    z-index: 2;
  }
  .col-lg-3 {
    margin-bottom: 34px;
  }
  &-special {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    max-width: 700px;
    width: 100%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
  }
  .btn-form.yellow {
    max-width: 370px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .btn {
      max-width: 342px;
    }
  }
}

.our-benefits {
  margin-top: -20px;
  .col-lg-6 {
    margin-bottom: 28px;
  }
  &.teh-benefits {
    margin-top: 0px;
    padding-top: 92px;
    background: linear-gradient(#f2f3f4, #fff);
  }
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 0.5;
}

.feedback {
  padding-top: 62px;
  padding-bottom: 95px;
  &.teh-feedback {
    .title {
      margin-bottom: 0px;
    }
  }
  &-block__item {
    padding: 64px;
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 18px 0px rgba(51, 96, 158, 0.35);
    border-radius: 10px;
    max-width: 780px;
    min-height: 340px;
    width: 100%;
    position: relative;
    z-index: 2;
    margin: 60px auto;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    &:before {
      position: absolute;
      content: "";
      background-image: url(../img/b1.png);
      height: 25px;
      width: 100%;
      bottom: -25px;
      right: -25px;
      border-radius: 0px 0px 10px 10px;
      z-index: 2;
      @media (max-width: 767px) {
        display: none;
      }
    }
    &:after {
      position: absolute;
      content: "";
      background-image: url(../img/b2.png);
      height: 100%;
      width: 25px;
      right: -25px;
      background-repeat: no-repeat;
      width: 25px;
      bottom: -15px;
      border-radius: 0 0 0 10px;
      z-index: 1;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  &-block {
    &__additional {
      display: flex;
      display: none;
      width: 100%;
      .row {
        width: 100%;
      }
    }
    &__name {
      font-size: 24px;
      color: rgb(40, 171, 199);
      line-height: 1.25;
      margin-bottom: 15px;
    }
    &__text {
      font-size: 16px;
      color: rgb(100, 118, 132);
      line-height: 1.2;
      margin-bottom: 36px;
    }
    &__additional {
      span {
        font-weight: 700;
      }
      font-size: 16px;
      color: rgb(0, 0, 0);
      line-height: 1.2;
    }
  }
}

.pre-footer {
  &.webp {
    background-image: url("../img/pre-bg.webp");
  }
  background-image: url(../img/pre-bg.png);
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 126px;
  .title {
    font-size: 48px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: -2.025px 8.769px 18px rgba(116, 140, 172, 0.66);
    transform: matrix(1.20231965931746, 0, 0, 1.19814581696974, 0, 0);
    margin-bottom: 22px;
  }
  .description {
    margin-bottom: 52px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
  }
}

.footer {
  background-color: rgba(100, 118, 132, 0.95);
  padding-bottom: 20px;
  padding-top: 40px;
  z-index: 2;
  position: relative;
  font-weight: 300;
  &__text {
    font-size: 16px;
    color: rgb(226, 236, 242);
    line-height: 1.2;
  }
  &__year__map {
    display: flex;
    font-size: 16px;
    color: rgb(226, 236, 242);
    line-height: 1.2;
    text-align: left;
    width: 100%;
    a {
      text-decoration: underline !important;
      color: rgb(226, 236, 242);
    }
  }
  .contacts__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .contacts__socials {
      fill: #a6b4ba;
      text-align: center;
      a {
        &:visited {
          fill: #a6b4ba;
        }
      }
      svg {
        padding: 5px 5px;
        &:visited {
          fill: #a6b4ba;
        }
      }
    }
    .contacts {
      display: flex;

      .nav__phone {
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
        width: 200px;
        padding-top: 8px;
      }
    }
  }
  .main-btn {
    position: relative;
    &.nav__cal {
      font-size: 16px;
      color: rgb(255, 255, 255);
      line-height: 1.5;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 0px !important;
      max-width: 142px;
      height: 42px;
      width: 100%;
      background-color: transparent;
      &.btn {
        &.focus {
          box-shadow: none !important;
        }
        &:focus {
          box-shadow: none !important;
        }
        &:hover {
          background-color: #28abc7;
          color: rgb(255, 255, 255);
          border-color: #28abc7;
        }
      }
    }
  }
  &__text {
    margin-bottom: 18px;
  }
  .line {
    svg {
      fill: #fff;
    }
  }
  .btn-form {
    max-width: 165px;
    opacity: 0.5;
    &:hover {
      .line svg {
        fill: rgb(253, 210, 38);
        fill: #007BC9;
        opacity: 1 !important;
      }
    }
  }
}

.form-item {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 54px;
  border: 0px;
  outline: 0px;
  padding: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-style: italic;
  line-height: 1.2;
  &::placeholder {
    color: rgb(0, 0, 0);
  }
}

.pre-footer {
  form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .yellow-btn {
    width: 100%;
    background-color: rgb(253, 210, 38);
    height: 54px;
    border: 0;
    outline: 0;
  }
}

.last-text {
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

.main-menu-lang {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  a {
    max-width: 34px;
    height: 34px;
    font-weight: 400;
    color: #6c7f8e;
    font-size: 16px;
    padding: 6px 0px;
    letter-spacing: 0.5px;
    border: 1px solid #6c7f8e;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    margin-right: 4px;
    margin-top: 4px;
    &:hover {
      color: #fff;
      background: #28abc7;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      border: 1px solid #28abc7;
    }
    &.active {
      color: #fff;
      background: #28abc7;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      border: 1px solid #28abc7;
    }
  }
}

.navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  .collapse-overlay {
    opacity: 0;
    background: rgba(141, 227, 238, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: opacity 0.15s ease-in-out;
    &.show {
      z-index: 29;
      opacity: 1;
    }
  }
  .navbar-collapse {
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0;
    z-index: 30;
    height: 100vh;
    transition: transform 0.15s ease-in-out;
    background: rgba(141, 227, 238, 0.95);
    &.collapse {
      transform: translateX(100%);
      &.show {
        transform: translateX(50%);
      }
    }
    &.collapsing {
      position: absolute;
      height: 100vh;
      overflow: hidden;
      transition: transform 0.15s ease-in-out;
      transform: translateX(100%);
    }
    .navbar-nav {
      padding: 80px 20px 20px;
      &.mr-auto {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        list-style-type: none;
        .nav-link {
          color: #fff;
          line-height: 1.8;
          font-size: 24px;
          &:hover {
            color: #fff;
          }
          &:focus {
            color: #fff;
          }
        }
      }
    }
  }
  .navbar-toggler {
    display: inline-block;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    right: 15px;
    top: 38px;
    width: 35px;
    height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 31;
    fill: #28abc7;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0;
    font-size: 32px;
    background-color: transparent;
    height: 42px;
    &:not(.collapsed) {
      position: fixed;
      span {
        opacity: 1;
        -webkit-transform: rotate(-45deg) translate(-1px, -2px);
        -ms-transform: rotate(-45deg) translate(-1px, -2px);
        transform: rotate(-45deg) translate(-1px, -2px);
        background: #28abc7;
        &:nth-last-child(3) {
          opacity: 1;
          -webkit-transform: rotate(45deg) translate(-1px, -3px);
          -ms-transform: rotate(45deg) translate(-1px, -3px);
          transform: rotate(45deg) translate(-1px, -3px);
        }
        &:nth-last-child(2) {
          opacity: 0;
          -webkit-transform: rotate(0) scale(0.2, 0.2);
          -ms-transform: rotate(0) scale(0.2, 0.2);
          transform: rotate(0) scale(0.2, 0.2);
        }
      }
    }
    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      margin-top: 3px;
      background: #28abc7;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -webkit-transform-origin: 4px 0;
      -ms-transform-origin: 4px 0;
      transform-origin: 4px 0;
      z-index: -1;
      -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      &:first-child {
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
      }
      &:nth-last-child(2) {
        -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
      }
    }
  }
}

.logo__image {
  svg {
    max-width: 170px;
    width: 100%;
    height: 42px;
  }
}

.method-form {
  position: relative;
}

.form-ty {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdd226;
  color: #fff;
  font-weight: 700;
  content: "";
  top: 0px;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  background-color: #e2ecfd;
}

#raketa_callback .raketa_btn {
  text-align: center;
  position: fixed;
  right: 10vw;
  bottom: 10vh;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
  z-index: 9;
}

#raketa_callback .raketa_btn:hover {
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

#raketa_callback .raketa_btn:hover .raketa_pulse {
  -webkit-box-shadow: 0 2px 5px #28abc7;
  box-shadow: 0 2px 5px #28abc7;
}

#raketa_callback .raketa_btn-wrap {
  text-align: center;
  width: 80px;
  height: 80px;
  position: relative;
  cursor: pointer;
}

#raketa_callback .raketa_phone {
  fill: #28abc7;
  position: relative;
  z-index: 2;
}

#raketa_callback .raketa_pulse {
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: visible;
  -webkit-box-shadow: 0 5px 10px #28abc7;
  box-shadow: 0 5px 10px #28abc7;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.15s ease;
  transition: -webkit-box-shadow 0.15s ease;
  transition: box-shadow 0.15s ease;
  transition: box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

#raketa_callback .raketa_pulse .raketa_pulse-bg {
  fill: #28abc7;
}

#raketa_callback .raketa_pulse .raketa_pulse-icon {
  fill: #fff;
}

#raketa_callback .raketa_pulse circle.raketa_pulse-wave {
  -webkit-animation: raketa_pulse-me 4s linear infinite;
  animation: raketa_pulse-me 4s linear infinite;
  fill: #28abc7;
}

#raketa_callback .raketa_pulse circle.raketa_pulse-wave:nth-child(2) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

#raketa_callback .raketa_pulse circle.raketa_pulse-wave:nth-child(3) {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

.row-table {
  width: 100%;
  display: flex;
  .elem-1 {
    width: calc(100% / 12 * 2);
  }
  .elem-2 {
    width: calc(100% / 12 * 5);
  }
  .elem-3 {
    width: calc(100% / 12 * 5);
  }
  &.first {
    min-height: 82px;
  }
}

@-webkit-keyframes raketa_pulse-me {
  0% {
    r: 0;
    opacity: 0;
  }
  30% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.09;
  }
  100% {
    r: 100;
    opacity: 0;
  }
}

@keyframes raketa_pulse-me {
  0% {
    r: 0;
    opacity: 0;
  }
  30% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.09;
  }
  100% {
    r: 100;
    opacity: 0;
  }
}

@media only screen and (max-width: 480px) {
  #raketa_callback .raketa_btn {
    bottom: 6vh;
  }
  #raketa_callback .raketa_btn-wrap,
  #raketa_callback .raketa_btn-wrap svg {
    width: 56px;
    height: 56px;
  }
}

@media (min-width: 1800px) {
  .classes.teh-classes {
    margin-top: 0px;
    padding-top: 60px;
  }
}

@media (max-width: 1928px) {
  .price {
    background-size: 100% 120%;
  }
  .classes.teh-classes {
    margin-top: 0px;
  }
}

@media (max-width: 1800px) {
  .pre-footer {
    background-size: 100% 130%;
  }
  .percent {
    background-size: 100% 130%;
  }
}

@media (max-width: 1600px) {
  .need-pict__svg {
    top: -148px;
    right: -136px;
  }
  .pre-footer .title {
    transform: none;
  }
}

@media (max-width: 1200px) {
  .footer {
    .contacts__item {
      flex-wrap: wrap;
    }
  }
  .main-menu__items {
    max-width: 330px;
  }
  .price-block__title {
    min-height: 54px;
    margin-bottom: 14px;
  }
  .price-block__text p {
    margin-bottom: 2px;
  }
  .slick-next {
    right: -10px;
  }
  .slick-prev {
    left: -10px;
  }
  .footer .contacts__item .contacts__socials {
    margin-bottom: 10px;
  }
  .need-pict__svg {
    top: -200px;
    svg {
      width: 188px;
      height: 238px;
    }
  }
}

@media (max-width: 991px) {
  .need {
    .row {
      &:nth-child(4) {
        .col-lg-6 {
          &:nth-child(1) {
            order: 2;
          }
        }
      }
    }
  }
  .price .pre-footer {
    .col-lg-4 {
      margin-bottom: 6px;
    }
    .last-text {
      margin-top: 12px;
    }
  }
  .navbar {
    display: flex;
  }
  .main-menu {
    display: none;
  }
  .main-menu-lang {
    display: none;
  }
  .what-is {
    .col-lg-6 {
      &:first-child {
        margin-bottom: 40px;
      }
    }
  }
  .title {
    z-index: 2;
    position: relative;
  }
  .need-pict__svg svg {
    width: 307px;
    height: 448px;
  }
  .need {
    .col-lg-6 {
      &:nth-child(1) {
        z-index: 3;
        position: relative;
      }
    }
  }
  .row-table .elem-1 {
    max-width: calc(100% / 3);
  }
  .classes-table {
    margin-bottom: 40px;
  }
  .need-block {
    margin-top: 0px;
  }
  .structure {
    .col-lg-7 {
      margin-bottom: 40px;
    }
  }
  .classes-table {
    margin-bottom: 40px;
  }
  .feedback-block__item {
    max-width: 400px;
    height: 437px;
    &:after {
      bottom: -122px;
    }
  }
  .form-item {
    margin-bottom: 20px;
  }
  .footer .contacts__item {
    margin-top: 20px;
    justify-content: space-between;
  }
  .footer__year__map {
    .col-lg-6 {
      &:nth-child(2) {
        a {
          justify-content: flex-end;
          display: flex;
        }
      }
    }
  }
  .pre-footer .title {
    transform: none;
  }
  .energy-block__grey {
    .col-lg-6 {
      margin-bottom: 10px !important;
    }
  }
  .energy-block__text.top {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .need-left {
    font-size: 80px;
  }
  .need-right {
    font-size: 120px;
  }
  .slick-next {
    right: -30px;
  }
  .slick-prev {
    left: -30px;
  }
  .classes-desc {
    font-size: 16px;
  }
  .laws .col-lg-6 {
    margin-bottom: 28px;
  }
}

@media (max-width: 600px) {
  .percent-text {
    font-size: 38px;
  }
  .benefits-item__icon {
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .slick-next,
  .slick-prev {
    top: 106%;
  }
  .slick-next {
    right: 130px;
  }
  .slick-prev {
    left: 130px;
  }
  .structure-download {
    margin-top: 85px;
  }
}

@media (max-width: 575px) {
  .benefits-item {
    padding-right: 0px;
  }
  .row-table .elem-3 {
    width: calc(100% / 12 * 3);
  }
  .row-table .elem-2 {
    width: calc(100% / 12 * 7);
  }
  .navbar .navbar-collapse .navbar-nav.mr-auto .nav-link {
    font-size: 18px;
  } 
}

@media (max-width: 480px) {	
  .main {
    background-position: right;
  }
  .feedback-block__item {
    max-width: 320px;
    height: 454px;
    padding: 38px;
  }
  .footer .contacts__item .contacts {
    width: 100%;
    &__socials {
      width: 100%;
    }
  }
}

@media (max-width: 416px) {
  .title {
    font-size: 42px;
  }
  .percent-text {
    font-size: 24px;
  }
  .percent .second {
    margin-top: 30px;
  }
  .pre-footer .title {
    font-size: 33px;
  }
  .pre-footer .description {
    font-size: 24px;
  }
  .feedback-block__item {
    height: auto;
  }
  .feedback-block__item:after {
    bottom: -210px;
  }
  .slick-prev {
    left: 56px;
  }
  .slick-next {
    right: 56px;
  }
  .pre-footer {
    padding-bottom: 80px;
  }
  .price .btn-form.yellow .btn {
    max-width: 275px;
  }
  .price .btn-form.yellow {
    max-width: 290px;
  }
  .structure {
    .slick-slide {
      img {
        width: 100%;
      }
    }
    .slick-next,
    .slick-prev {
      top: 108%;
    }
  }
  .main-block__title {
    font-size: 38px;
  }
  .laws-title {
    text-align: left;
  }
}

@media (max-width: 380px) {
  .need-right {
    margin-bottom: -24px;
  }
  .gerb-block {
    padding: 30px 12px;
  }
  .laws-title {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .laws {
    padding: 66px 0px;
  }
  .need-right {
    font-size: 82px;
  }
  .need-left {
    font-size: 60px;
  }
  .footer {
    .contacts__item {
      .contacts__socials {
        margin-bottom: 10px;
      }
    }
    .footer__text {
      font-size: 13px;
    }
    .footer__year__map {
      font-size: 13px;
    }
  }
  .what-is {
    padding-bottom: 60px;
    .col-lg-6 {
      &:nth-child(2) {
        position: relative;
        z-index: 2;
      }
    }
  }
  .modal .modal-content .modal-body p.order {
    font-size: 38px;
    padding-bottom: 10px;
  }
  .classes-title {
    font-size: 16px;
  }
  .classes-desc {
    font-size: 14px;
  }
  .classes {
    padding-bottom: 60px;
  }
  .classes-table {
    margin-bottom: 10px;
  }
  .feedback-block__item {
    padding: 22px;
  }
  .title {
    font-size: 33px;
  }
  .classes .elem {
    padding: 6px;
  }
  .price .pre-footer {
    padding-top: 60px;
  }
  .teh-types__block {
    flex-direction: column;
  }
  .teh-types__block-pict {
    margin-right: auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 346px) {
  .feedback-block__item:after {
    display: none;
  }
  .feedback-block__item:before {
    display: none;
  }
  .feedback {
    .title {
      margin-bottom: 0px;
    }
  }
}
.validation-error{
  border: 1px solid red !important;
  box-shadow: 0px 0px 47px -15px rgba(255, 0, 0, 0.5) !important;
}
.grid{
  img{
    max-width: 100%;
    height: 100%;
  }
}
.how-we-work{
  padding: 100px 0;
  background: #f2f3f4;
  @media (max-width: 767px){
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .title{
    text-align: left;
  }
  .how-icon{
    position: absolute;
    right: 0;
    top: 0;
  }
}